body {
  background: #ccc;
  justify-content: center;
}

.cWind {
  width: 100px;
  height: 100px;;
  display: flex;
  position: relative;
  top: 200px;
  margin: auto;
  border: 1px solid #fafafa;
  border-radius: 10px;
}

.input-box {
  position: absolute;
  margin-top: 150px;
  margin-left: 870px;
  text-align: center;
  border-radius: 5px;
}