body {
  background-image: url('https://media.nationalgeographic.org/assets/photos/000/263/26383.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  width: 50%;
  margin: auto;
}

.titleDiv {
  font-family: 'Gloria Hallelujah', cursive;
  background-color: rgba(169, 169, 169, 0.3);
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 48px;
  padding: 20px;
  border-radius: 20px;
}

.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  padding: 20px;
}

.input-box {
  text-align: center;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  color: white;
}

.input-button {
  width: 70px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2px;
  margin-left: 5px;
  border: 1px solid white;
}

.cWind {
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  width: 250px;
  height: 220px;
  padding: 10px;
  margin-right: 20px;
  top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  border: 1px solid #fafafa;
  border-radius: 10px;
  box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.closeButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: lightyellow;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}
