body {
  background: #ccc;
  justify-content: center;
}



.input-section{
  width: 800px;
  position: relative;
  margin: auto;
}

.input-box {
  position: relative;
  margin: auto;
  margin-top: 150px;
  text-align: center;
  border-radius: 5px;
}

.input-button {
  position: relative;
  color: white;
  background-color: #008cba;
  border-radius: 5px;
}

.cWind {
  width: 250px;
  height: auto;
  padding: 10px;
  position: relative;
  top: 20px;
  margin: auto;
  border: 1px solid #fafafa;
  border-radius: 10px;
  h3{
    text-align: right;
    margin: 5px
  }

}
