body {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  background-color: rgb(4, 42, 74);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.titleDiv {
  font-family: 'Gloria Hallelujah', cursive;
  background-color: rgba(169, 169, 169, 0.3);
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 48px;
  color: yellow;
  padding: 20px;
}

.nav-section {
  position: absolute;
  left: 0;
  top: 200px;
  width: 250px;
  background-color: rgba(169, 169, 169, 0.3);
  padding: 0.5em;
}

.nav-input-search {
  height: 5.5ch;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgb(4, 42, 74);
  color: white;
  border: none;
}
.nav-btn-search{
  font-family: 'arial';
  width: 13ch;
  height: 6ch;
  text-align: center;
  font-size: 0.8rem;
  background-color: rgb(4, 42, 74);
  color: white;
  padding: 2px;
  margin-left: 5px;
  border: none;
}

.nav-btn-menu {
  font-family: 'arial';
  width: 250px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 1rem;
  background-color: rgb(4, 42, 74);
  color: white;
  border: none;
}

.input-section {
  width: 50%;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin: auto;
  padding: 20px;
}

.input-AddNote {
  width: 50ch;
  height: 5ch;
  text-align: center;
  background-color: rgb(4, 42, 74);
  color: white;
  border: 0.2px solid grey;
}

.input-AddButton {
  width: 10ch;
  height: 5ch;
  text-align: center;
  font-weight: bold;
  font-size: 0.6rem;
  background-color: rgb(4, 42, 74);
  color: white;
  border: 0.2px solid grey;
  padding: 2px;
  margin-left: 5px;
  position: absolute;
  right: 20px;
  top: 23px;
}


.tmp-content {
  width: 50ch;
  height: 15ch;
  text-align: center;
  background-color: rgb(9, 50, 83);
  color: white;
  border: 0.2px solid grey;

}
.cWind {
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  width: 250px;
  height: 220px;
  padding: 10px;
  margin-right: 20px;
  top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  border: 1px solid #fafafa;
  border-radius: 10px;
  box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 50%;
  margin: auto;
}